.input1 {    
    cursor: cell;
}
.input1 input {
    border: 3px solid rgb(59, 77, 70);
    transition: all 0.7s;
}
.input1 span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 1s;
    pointer-events: none;
    position: absolute;
    margin-left: 10px;
}
.input1 input:hover ~ span,
.input1 input:hover {
    transform: translate(10px);
}