.head {
    font-family: Ubuntu, Kanit;
    text-align: center;
    font-size: 26px;
    background-color: azure;
}
.name {
    font-family: Ubuntu, Kanit;
    position: absolute;
    font-size: 19px;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 45%;
}
.name #by {
    transform: translate(3%, 300%);
}
.name #name {
    transform: translate(10%, 100%);
}
button {
    font-family: Ubuntu, Kanit;
    transition: all 0.7s;
    right: 10%;
    bottom: 7%;
    position: absolute;
    padding-inline: 2%;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}
button:hover {
    padding-inline: 10%;
}
button:hover::before {
    content: "> หน้าต่อไป <";
}
button::before {
    content: "หน้าต่อไป";
}
.text {
    font-family: Ubuntu, Kanit;
    font-size: 21px;
}
.beanL {
    position: absolute;
    transform: translate(0%, 50%);
}
.beanG {
    position: absolute;
    transform: translate(50%, 30%);
}
